.background-container {
    position: fixed; /* Fija el contenedor al viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../static/images/fondo_de_bikini.jpg'); /* Ruta relativa */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Asegura que quede detrás de otros elementos */
}


.perfil-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.perfil-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.perfil-content {
    margin-bottom: 20px;
}

.perfil-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #007bff;
}

.perfil-username {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.perfil-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.perfil-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.perfil-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #007bff;
    color: white;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #555;
}

/* App.css o el archivo CSS que estés utilizando */
@keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .validation-errors {
    position: fixed;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .slide-down-alert {
    animation: slide-down 5s ease-in-out;
  }

  .unfriend-button {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: 18px; /* Tamaño del ícono */
    color: red; /* Color rojo */
}

.unfriend-button:hover {
    color: red; /* Cambia a rojo al pasar el mouse */
    transform: scale(1.5);
}

.amigo-imagen-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}