.tablero {
  background-image: url('../static/images/fondoTablero.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
}

.lista-jugadores {
    position: fixed;
    top: 80px;
    left: 0px;
    height: 89vh;
    width: 220px;
    padding: 15px;
    background-color: rgba(17, 62, 88, 0.804); /* Fondo gris claro */
    border: 3px solid #ccba4a; /* Borde verde */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    font-family: Arial, sans-serif;
    overflow-y: auto;
  }
  
  /* Estilos para cada jugador dentro de la lista */
  .jugador-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco para cada jugador */
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .jugador-info h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .jugador-info p {
    margin: 3px 0;
    font-size: 14px;
    color: #666;
  }
  .cartas {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartas-trucos {
    position: fixed;
    bottom: 260px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cartas-trucos p {
    font-family:Arial, Helvetica, sans-serif ;
    margin: 3px 0;
    font-size: 14px;
    color: #fafafa;
  }

  .nombre-jugador {
    width: 80px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
    background-color: #ffffff; /* Fondo blanco para cada jugador */
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(17, 62, 88, 0.804); /* Fondo gris claro */
    border: 3px solid #ccba4a; 
  }


  .imagen-carta-tigresa {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    text-align: center;

  }
  .carta {
    text-align: center;
  }

  .carta-otros-jugadores {
    text-align: center;
    margin-left: 100px;
  }
  
  .imagen-carta {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -70px; /* para que se solapen las cartas */
  }

  .imagen-carta-tigresa {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    text-align: center;

  }

  .imagen-carta-trucos {
    width: 95px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    
  }

  .imagen-carta-otras {
    width: 85px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -90px;
    margin-right: 20px;
  }
  .boton-agrandable {
    padding: 10px;
    border: none;
    background-color: transparent; /* Fondo transparente para solo ver la imagen */
    cursor: pointer;
    transition: transform 0.3s ease; /* Transición suave al agrandar */
}

/* Escala el botón al hacer hover */
.boton-agrandable:hover {
    transform: scale(1.1); /* Aumenta el tamaño un 10% */
}

.cartas-otros-jugadores{
  display: flex;
  margin-top: 120px;
  flex-wrap: nowrap; /* No permite el salto de línea, lo que provoca el solapamiento */
  justify-content: center;
  align-items: center;
}