.barra-cuenta-regresiva-fija {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; 
    background-color: #e0e0e0; 
    z-index: 1050; 
}

.barra-progreso {
    height: 100%; 
    background-color: #1e3a8a; 
    transition: width 0.2s linear; 
}
