.chat-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ffffff
    
  }

  .custom-modal {
    background: #112b44; /* Azul profundo */
    border: 3px solid #f5d76e; /* Borde dorado */
}

.custom-modal-header {
    background: #112b44; /* Azul profundo */
    color: #f5d76e; /* Dorado suave */
    border-bottom: 2px solid #f5d76e; /* Línea dorada */
}

.custom-modal-footer {
    background: #112b44; /* Azul profundo */
    color: #f5d76e; /* Texto dorado */
    border-top: 2px solid #f5d76e; /* Línea dorada */
    text-align: center; /* Alineación del contenido */
    padding: 1rem; /* Espaciado */
}

.custom-modal-body {
    background-color: rgba(17, 62, 88, 0.804); /* Mismo color de fondo que el modal */
    color: white; /* Color del texto */
    padding: 15px; /* Ajusta el padding según lo necesites */
}