.chat-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .custom-modal {
    background-color: rgba(17, 62, 88, 0.804); /* Fondo gris claro */
    color: white; /* Color del texto */
    border: 3px solid #ccba4a; /* Borde verde */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.custom-modal-header {
    background-color: rgba(17, 62, 88, 0.804); /* Mismo color de fondo que el modal */
    color: white; /* Color del texto en el encabezado */
    border-bottom: 3px solid #ccba4a; /* Borde en la parte inferior */
}

.custom-modal-footer {
    background-color: rgba(17, 62, 88, 0.804); /* Mismo color de fondo que el modal */
    color: white; /* Color del texto en el pie */
    border-top: 3px solid #ccba4a; /* Borde en la parte superior */
}

.custom-modal-body {
    background-color: rgba(17, 62, 88, 0.804); /* Mismo color de fondo que el modal */
    color: white; /* Color del texto */
    padding: 15px; /* Ajusta el padding según lo necesites */
}