/* styles.css */
.animated-logo {
    height: 45px; /* Ajuste del tamaño del logo */
    width: auto; /* Mantener la proporción del logo */
    animation: spin3D 4s infinite linear;
    transform-style: preserve-3d;
}

@keyframes spin3D {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


.custom-dropdown-menu {
    background-color: #383838 !important; /* Un poco más claro que #333333 */
    color: white !important; /* Texto blanco */
}

.custom-dropdown-item {
    color: white !important;
}

.custom-dropdown-item:hover {
    background-color: #444444 !important; /* Gris más claro al pasar el ratón */
    color: white !important;
}