/* styles.css */
.animated-logo {
    height: 45px; /* Ajuste del tamaño del logo */
    width: auto; /* Mantener la proporción del logo */
    animation: spin3D 4s infinite linear;
    transform-style: preserve-3d;
}

@keyframes spin3D {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
